__pycache__/
*.pyc
*.pyo
*.pyd
notepad.txt
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.tfvars
*.tfvars.json
*.log
.vscode/
.idea/
*.swp